.form-container{

min-height: 15rem;
min-width: 10rem;
background: beige;

}

.form-container>form{
    display: flex;
flex-direction: column;

justify-content: center;
align-items: center;

}

.form-container>form>input{
    width: 80%;
    height: 25%  ;
}